.home {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  $self: &;

  &-content {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    text-align: center;
    gap: 30px;
  }

  &-title {
    margin-bottom: 50px;
    font-weight: 700;
    line-height: 75px;
    color: #3a7859;
    font-size: 50px;
    margin-top: 0;
  }

  &-sub-title {
    font-size: 30px;
    line-height: 45px;
    color: #354153;
    margin-bottom: 20px;
    font-weight: 700;
  }

  &-button {
    margin-top: 30px;
  }
}
