.result {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;

  &-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 75px;
    color: #3a7859;
  }

  &-score {
    color: #354153;
    font-size: 20px;
    font-weight: 700;
    line-height: 45px;
  }

  &-button {
  }
}
